/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #70d7ff;
    margin: 0;
    padding: 0;
    text-align: center;
    background-image: url(./img/fondo-hospital-sitio-web-generativo-ia_895799-9186.jpg);     
    
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #48d4ff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


h1 {
    color: #333;
}

/* Estilos para los botones */
.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.button-container button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-container button:hover {
    background-color: #0056b3;
}
